<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/web/layout/layout::layout('Not Found', ~{::#content}, falase)}">
<div class="main-container" id="content">
    <style>
        .main-container{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 44px;
        }

        .main-container img{
            border-radius: 50%;
            width: 480px
        }


    </style>
    <div class="mx-5">
        <img style="" src="https://i.pinimg.com/736x/84/95/40/849540e32a89e2f78301d763ba98e8f8.jpg">
    </div>
    <div class=" mx-5">
        <h1 style="font-size: 160px">404</h1>
        <h2>Page not found !</h2>
        <p class="text-black-50">UH OH! You're lost.
            The page you are looking for does not exist. How you got here is a mystery. But you can click the button below to go back to the homepage.</p>
        <a class="genric-btn primary-border mt-2 large arrow" style="font-size: 16px" th:href="@{/}">
            Home page
            <span class="lnr lnr-arrow-right"></span>
        </a>
    </div>
</div>

</html>