<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="/admin/layout/admin-layout::admin-layout('Product form', ~{::#content}, ~{::script})">
<body>
<main id="content">
    <div class="container p-4">

        <!-- Section: Sales Performance KPIs -->
        <section class="mb-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Orders</li>
                </ol>
            </nav>
        </section>
        <!-- Section: Sales Performance KPIs -->

        <!--Section: Shopping Funnel & Product revenue-->
        <section class="mb-4">

            <!--/*@thymesVar id="productForm" type="com.group.sshop.models.dto.ProductForm"*/-->
            <div class="row ">

                <div class="col-md-12 mb-3">
                    <div class="card shadow-0 shadow-0 p-2 rounded-1">
                        <div class="card-body p-2 d-flex justify-content-between">
                            <div>
                                <div class="form-outline" data-mdb-datepicker-init data-mdb-input-init
                                     data-mdb-inline="true">
                                    <input type="text" class="form-control" id="exampleDatepicker2"/>
                                    <label for="exampleDatepicker2" class="form-label">Select a date</label>
                                </div>
                            </div>
                            <div>
                                <div class="input-group">
                                    <input class="form-control" placeholder="Search" type="search" id="table-search"/>
                                    <button class="btn btn-outline-secondary" type="button" data-mdb-ripple-init
                                            data-mdb-ripple-color="dark">
                                        <i class="fa-regular fa-search me-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="card shadow-0 shadow-0 mb-4 p-2 rounded-1">
                        <div class="card-body p-2">
                            <table class="table align-middle mb-0 bg-white" id="table">

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--Section: Shopping Funnel & Product revenue-->


    </div>
    <!-- Modal -->
    <div class="modal" id="confirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content rounded-1 ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want delete product
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shadow-1" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger shadow-1" onclick="handleDelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/static/js/datatables.min.js}"></script>
<script th:fragment="script">
    const status = {
        "DONE": '<span class="badge badge-success">[[#{order.status.DONE}]]</span>',
        "WAIT": '<span class="badge badge-warning">[[#{order.status.WAIT}]]</span>',
        "CANCELED": '<span class="badge badge-danger">[[#{order.status.CANCELED}]]</span>',
        "RETURN": '<span class="badge badge-danger">[[#{order.status.RETURN}]]</span>',
        "SHIPPING": '<span class="badge badge-info">[[#{order.status.SHIPPING}]]</span>',
    }

    const paymentStatus = {
        "DONE": '<span class="badge badge-success">[[#{payment.status.DONE}]]</span>',
        "WAITING": '<span class="badge badge-warning">[[#{payment.status.WAIT}]]</span>',
        "ERROR": '<span class="badge badge-danger">[[#{payment.status.ERRO}]]</span>'
    }

    let table = new DataTable('#table', {
        serverSide: true,
        ordering: true,
        select: true,
        lengthChange: false,
        info: false,
        ajax: {
            url: '/api/v1/orders',
            contentType: 'application/json',
            type: 'POST',
            data: function (d) {
                return JSON.stringify(d);
            }


        },
        columns: [
            {
                name: "code",
                title: "Code",
                render: function (data, type, row, meta) {
                    return row.code;
                }

            },
            {
                name: "orderBy.fullName",
                title: "Order By",
                render: (data, type, row, meta) => {
                    return row.customerName;
                }
            },
            {
                name: "crateAt",
                title: "Date",
                render: (data, type, row, meta) => {
                    return row.orderDate;
                }
            },

            {
                name: "quantity",
                title: "Quantity",
                render: (data, type, row, meta) => {
                    return row.quantity
                }
            },
            {
                name: "total",
                title: "Total",
                render: function (data, type, row, meta) {
                    if (row.summary.totalDiscount === 0) {
                        return currencyFormat.format(row.summary.total)
                    } else {
                        return `
                            <span>
                                ${currencyFormat.format(row.summary.total)}<br/>
                                <s class="text-danger">${currencyFormat.format(row.summary.subtotal)}</s>
                            <span>`
                    }
                }

            },
            {
                name: "Payment",
                title: "Payment",
                render: function (data, type, row, meta) {
                    return paymentStatus[row.paymentStatus]
                }
            }, {
                name: "status",
                title: "Status",
                render: function (data, type, row, meta) {

                    return status[row.status];
                }

            }, {
                name: "action",
                title: "Action",
                orderable: false,
                render: (data, type, row) => {
                    return `
                        <span class="d-flex"><button class="btn btn-danger btn-floating shadow-1 me-1 btn-sm" onclick="showConfirmDelete(${row.id})"><i class="fa fa-trash"></i></button><a class="btn btn-info btn-floating shadow-1 btn-sm" href="/admin/orders/${row.id}"><i class="fa fa-edit"></i></a></span>
                    `
                }

            }
        ],

        language: {
            paginate: {
                next: '<i class="fa-regular fa-chevron-right"></i>',
                previous: '<i class="fa-regular fa-chevron-left"></i>',
                last: '<i class="fa-regular fa-angles-right"></i>',
                first: '<i class="fa-regular fa-angles-left"></i>',
            }
        }

    });

    let delay

    $('#table-search').on("input", function () {
        clearTimeout(delay);
        delay = setTimeout(function () {
            table.search($(this).val()).draw();
        }.bind(this), 800);
    });

    $('#table-search')[0].onsearch = function () {
        clearTimeout(delay);
        table.search($(this).val()).draw();
    };
    const element = document.querySelector('#confirmDelete');
    const confirmModal = new mdb.Modal(element)
    let id

    function showConfirmDelete(productId) {
        confirmModal.show()
        id = productId;
    }

    function handleDelete() {
        $.ajax({
            url: "/api/v1/products/" + id,
            method: "DELETE",
            success: function (data) {
                table.ajax.reload()
            }

        })
        confirmModal.hide()

    }



</script>
</body>

</html>