<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="admin-layout(title,content, script)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/static/css/mdb.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
    <link rel="stylesheet" th:href="@{/static/css/themify-icons.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
        <link
            rel="stylesheet"
            data-purpose="Layout StyleSheet"
            title="Web Awesome"
            href="/css/app-wa-d53d10572a0e0d37cb8d614a3f177a0c.css?vsn=d"
    >

    <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
    >

    <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css"
    >

    <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css"
    >

    <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css"
    >

    <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css"
    >
</head>
<body>
<header>
    <!--nav bar-->
    <nav th:replace="~{/admin/layout/sidenav::admin-sidenav(1)}"></nav>
    <!--nav bar-->

    <!-- header bar -->
    <nav th:replace="~{/admin/layout/navbar::admin-navbar}"></nav>
    <!-- header bar -->

    <!-- Heading -->
    <section class="text-center text-md-start">
        <!-- Background gradient -->
        <div  style="height: 60px;">
        </div>
        <!-- Background gradient -->

    </section>
    <!-- Heading -->

</header>


<!-- content  -->
<th:block th:replace="${content}"></th:block>
<!--content -->

<script th:src="@{/static/js/mdb.umd.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script th:src="@{/static/js/main.admin.js}"></script>
<th:block th:replace="${script}">

</th:block>

</body>
</html>