<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
      th:replace="/web/layout/layout::layout(${title}, ~{::#content}, false)">
<body>
<section id="content">
    <!-- Start Checkout -->
    <section class="shop login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="login-form">
                        <h2>Login</h2>
                        <p>Please register in order to checkout more quickly</p>
                        <!-- Form -->
                        <form class="form" method="post" th:action="@{/process-login}">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Your Email<span>*</span></label>
                                        <input type="email" name="email" placeholder="" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Your Password<span>*</span></label>
                                        <input type="password" name="password" placeholder="" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group login-btn">
                                        <button class="btn" type="submit">Login</button>
                                        <a href="/register" class="btn">Register</a>
                                    </div>
                                    <div class="checkbox">
                                        <label class="checkbox-inline checked" for="2"><input name="news" id="2" type="checkbox">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="alert alert-danger" role="alert" th:if="${param['error'] ne null}" th:text="#{${param['error']}}">

                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--/ End Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--/ End Checkout -->
</section>
</body>

</html>